<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peachs.mapper.AccountsInfoMapper">
		<!-- 전체 게시물을 가져오는 SQL -->
	<select id = "getLists" resultType="com.peachs.entity.AccountsInfo">
		select * from accounts_info
	</select>
	
</mapper>