
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root
{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
}
.container
{
    position: relative;
    width: 100%;
}
.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active
{
    width: 80px;
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered
{
    background: var(--white);
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a
{
    color: var(--blue);
}
.navigation ul li a .logo
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .logo i
{
    font-size: 1.75em;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
    font-size: 1.75em;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* curve outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -24px 0 6px var(--white);
    pointer-events: none;
}

/* main */
.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active
{
    width: calc(100% - 80px);
    left: 80px;
}
.topbar
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.user
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.temHeader
{
    position: relative;
    font-weight: 400;
    font-size: 24px;
    color: var(--black1);
}
.cardBox
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.cardBox .card
{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardBox .card .numbers
{
    position: relative;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--blue);
    margin-top: 15px;
}
.cardBox .card .cardName
{
    color: var(--black1);
    font-size: 1.1em;
    margin-top: 0px;
    margin-left: 10px;
}
.cardBox .card .iconBx
{
    font-size: 1.1em;
    color: var(--black2);
    margin-left: 10px;
}
.cardBox .card:hover
{
    background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx
{
    color: var(--white);
}
.details
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 30px;
    padding-top: 0;
    /* margin-top: 10px; */
}

#btn-modal{
    width: 40px;
    height: 25px;
}


.details2
{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 30px;
    margin-top: 7px;
}

.details2 .displayBox
{
    position: relative;
    display: grid;
    min-height: 300px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}


.cardHeader,
.display,
.displayquery,
.querylist,
.listtoggle
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.display h
{
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
}
.cardHeader h3
{
    font-weight:600;
    color: var(--black1);
    margin-left: 30px;
    margin-bottom: 20px;
}
.displayquery h3,
.querylist h4
{
    position: relative;
    margin-top: 30px;
    margin-left: 15px;
}
.displayquery h3
{
    margin-bottom: 10px;
}
.querylist h
{
    margin-top: 30px;
    margin-right: 5px;
}
.details2 .btn
{
    position: relative;
    color: var(--blue);
    margin-top: 10px;
    margin-right: 20px;
}
.displayquery .btn
{
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
}
.details2 ul
{
    position: relative;
    background: var(--grey);
}
.details2 table
{
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.toggle_analysis {
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);

    display: inline-block;
    cursor: pointer;
    margin-top: 30px;
}
.toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}
.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;
    margin-right: 15px;
}
.toggle__input {
    display: none;
}
.toggle__input:checked ~ .toggle__fill {
    background: var(--blue);
}

.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
}
.btn-secondary
{
    padding: .5rem 1rem;
    font-weight: 500;
    border: 2px solid var(--grey);
    border-radius: .25rem;
    background-color: transparent;
}
.btn-primary 
{
    padding: .5rem 1rem;
    font-weight: 500;
    border: 2px solid var(--blue);
    border-radius: .25rem;
    background-color: transparent;
    color: #FFF;
    background-color: var(--blue);
}
.cardHeader 
{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 20%;
    margin-top: 20px;
    
}
.cardHeader h2
{
    font-weight: 600;
    color: var(--black);
}
a{
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    text-decoration: none;
}
.btn
{
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    background: var(--grey);
    text-decoration: none;
    color: var(--black1);
    border-radius: 6px;
}
/*container2*/

.details table
{
    width: 100%;
    border-collapse: collapse;
    margin-left: 0px;
}
.details .displayBox table tr 
{
    background: var(--white);
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .displayBox table tr:hover
{
    background: var(--blue);
    color: var(--white);
}
.details .displayBox table tr td
{
    padding: 0px;
    width: 150px;
}
.details .displayBox table tr td:nth-child(1),
.details .displayBox table tr td:nth-child(3)
{
    text-align: center;
}
.details .displayBox table tr td:last-child
{
    text-align: end;
}
.toggle-container {
    display: block;
    font-size: 14px;
    margin: 0 auto;
  }
  .toggle-switch {
    align-items: center;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    justify-content: center;
    margin: 20px 0;
  }
  .toggle-input {
    position: absolute;
    visibility: hidden;
    z-index: -1;
  }
  .toggle-slider {
    background: var(--grey);
    border-radius: 9999px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1), inset 0 4px 8px rgba(0,0,0,0.1), 0 1px 1px rgba(255,255,255,1);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    transition: all ease .3s;
    width: 40px;
  }
  .toggle-slider:before {
    background: white;
    border-radius: 9999px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.2);
    content:'';
    height: 16px;
    left: 2px;
    position: absolute;
    top: 2px;
    transition: all ease .3s;
    width: 16px;
  }
  .toggle-input:checked + .toggle-slider {
    background: var(--blue);
  }
  .toggle-input:checked + .toggle-slider:before {
    left: calc(100% - 18px);
  }

  .enlarged-image{
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 2px;
  }
 
  #enlargedArea img{
    
    width: 50%;
    padding-left: 16%;
    padding-top: 8%;
    overflow: hidden;
    object-fit: contain;
  }

  .pictureList{
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
  }
  .pictureList img {
    cursor: pointer;
    transition: 0.3s;
  }
  .pictureList img:hover {
    transform: scale(1.1);
  }
  
  .pictureTable{
    width:400px;
    height: 720px;
    overflow-y: scroll ;
    overflow-x: hidden;
  }

  .container2{
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
  }
  .imgcontainer{
    display : flex;
    justify-content: center;
    align-items : center;
    padding: 100px 0;
    overflow:hidden;
  }
  .deactive{
    display: none;
  }
  .imgtable{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgtable img{
    height: 30em;
    object-fit:contain;
  }
    /* 이미지 확대 스타일 */
  .details2 .enlarged-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .details2 .enlarged-image img {
    max-width: 80%;
    max-height: 80%;
  }

#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
    background: var(--white);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 70%;
    height: 500px;
    position: relative;
    top: -150px;
    padding: 10px;
}
#modal .title {
    padding-left: 10px;
    display: inline;
    color: var(--black1);
    
}
#modal .title p {
    display: inline;
    font-weight: 500;
    font-size: large;
}
#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: var(--black2);
}

#modal .content {
    margin-top: 20px;
    padding: 0px 10px;
    color: white;
}
.scoreBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}
.scoreBox #btn-modal{
    background-color: var(--blue);
    border: none;
    color: var(--white);
    width: 80px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Happiness-Sans-Bold';
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px #287bff;
    float: right;
}
.scoreBox #btn-modal:hover{
    color: var(--blue);
    background: var(--white);
}


.scoreBox #chart {
    margin-top: 70px;
    margin-left: 50px;
    display: block;
    width: 400px;
    height: 230px;
}


.details#blur.active
{
    pointer-events: none;
    user-select: none;
}
/* .details .dataList
{
    position: relative;
    display: grid;
    min-height: 800px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
} */

/* 세부 점수 */
/* .score h2{
    margin: 100px ;
} */

.skillContainer{
    position: relative;
    max-width: 500px;
    width: 100%;
    background: var(--white);
    margin: 35px 15px;
    padding: 10px 20px;
    border-radius: 7px;
}
.skillContainer .skillBox{
    width: 100%;
    margin: 25px 0;
}
.skillBox .title{
    display: block;
    font-family: 'MBC1961M';
    font-size: 17px;
    font-weight: 300;
    color: #333;
}
.skillBox .skillBar{
    width: 100%;
    height: 8px;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0, 0, 0, 0.1);
}
.skillBar .uniPer{
    position: relative;
    display: block;
    height: 100%;
    /* 점수 퍼센트만큼 width 설정하기 */
    width: 70%;
    border-radius: 6px;
    background: var(--blue);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.skillBar .suffiPer{
    position: relative;
    display: block;
    height: 100%;
    /* 점수 퍼센트만큼 width 설정하기 */
    width: 65%;
    border-radius: 6px;
    background: var(--blue);
    animation: progress 0.4s ease-in-out forwards;
    animation-delay: 0.1s;
    opacity: 0;
}
.skillBar .suitPer{
    position: relative;
    display: block;
    height: 100%;
    /* 점수 퍼센트만큼 width 설정하기 */
    width: 80%;
    border-radius: 6px;
    background: var(--blue);
    animation: progress 0.4s ease-in-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
}
.skillBar .bboxPer{
    position: relative;
    display: block;
    height: 100%;
    /* 점수 퍼센트만큼 width 설정하기 */
    width: 75%;
    border-radius: 6px;
    background: var(--blue);
    animation: progress 0.4s ease-in-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

@keyframes progress{
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.uniPer .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: var(--blue);
    z-index: 1;
}

.suffiPer .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: var(--blue);
    z-index: 1;
}
.suitPer .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: var(--blue);
    z-index: 1;
}
.bboxPer .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: var(--blue);
    z-index: 1;
}

.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: var(--blue);
    transform: translateX(-50%) rotate(45deg);
}





.cardHeader 
{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 20%;
    margin-top: 20px;
    
}
.cardHeader h2
{
    font-weight: 600;
    color: var(--black);
}
a{
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    text-decoration: none;
}
.btn
{
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    background: var(--grey);
    text-decoration: none;
    color: var(--black1);
    border-radius: 6px;
}
/*now, make it responsive design */
@media (max-width: 991px)
{   .graphBox
    {
        grid-template-columns: 1fr;
        height: auto;
    }
    .navigation
    {
        left: -300px;
    }
    .navigation.active
    {
        width: 300px;
        left: 0; 
    }
    .main
    {
        width: 100%;
        left: 0;
    }
    .main.active
    {
        left: 300px;
    }
    .cardBox
    {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 768px)
{
    .details
    {
        grid-template-columns: repeat(1,1fr);
    }
    .displayBox
    {
        overflow-x: auto;
    }
    .status.inprogress
    {
        white-space: nowrap;
    }
}


@media (max-width: 480px)
{
    .cardBox
     {
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2
    {
        font-size: 20px;
    }
    .user
    {
        min-width: 40px;
    }
    .navigation
    {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;
    }
}
.pictureTable{
    width: 330px;
}
.image{
    margin-top: 5px;
}



