@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root
{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
}
.container
{
    position: relative;
    width: 100%;
}
.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active
{
    width: 80px;
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered
{
    background: var(--white);
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a
{
    color: var(--blue);
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
    font-size: 1.75em;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* curve outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -24px 0 6px var(--white);
    pointer-events: none;
}

/* main */
.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active
{
    width: calc(100% - 80px);
    left: 80px;
}
.topbar
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.search
{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label
{
    position: relative;
    width: 100%;
}
.search label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}
.search label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}
.user
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardBox
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.cardBox .card
{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardBox .card .numbers
{
    position: relative;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--blue);
    margin-top: 15px;
}
.cardBox .card .cardName
{
    color: var(--black1);
    font-size: 1.1em;
    margin-top: 0px;
    margin-left: 10px;
}
.cardBox .card .iconBx
{
    font-size: 1.1em;
    color: var(--black2);
    margin-left: 10px;
}
.cardBox .card:hover
{
    background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx
{
    color: var(--white);
}
.details
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 30px;
    /* margin-top: 10px; */
}
.details#blur.active
{
    pointer-events: none;
    user-select: none;
}
.details .dataList
{
    position: relative;
    min-height: 800px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.dataBox
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.dataBox .datacard
{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.dataBox .datacard .numbers
{
    position: relative;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--blue);
    margin-top: 15px;
}
.dataBox .datacard .cardName
{
    color: var(--black1);
    font-size: 1.1em;
    margin-top: 0px;
    margin-left: 10px;
}
.dataBox .datacard .iconBx
{
    font-size: 1.1em;
    color: var(--black2);
    margin-left: 10px;
}
.dataBox .datacard:hover
{
    background: var(--blue);
}
.dataBox .datacard:hover .date,  
.dataBox .datacard:hover .dataName, 
.dataBox .datacard:hover .iconBx    
{
    color: var(--white);
}
#popup
{    
    position: fixed;
    max-width: 500px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: .5rem;
}
#popup.active
{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.popup-header 
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 1rem;
}
  
.logo-circle 
{
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #CED8F6;   
}
.logo-circle svg
 {
    max-width: 1.5rem;
}
.btn-close
 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: .25rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
.popup-header .btn-close:hover,
.popup-header .btn-close:focus 
{
    background-color: #CED8F6;
  }
.popup-body 
{
    padding: 1rem 1.5rem;
}
  
.popup-title
{
    font-weight: 700;
}
  
.popup-description
 {
    color: var(--black2);
}
  
.upload-area 
{
    margin-top: 1.25rem;
    border: none;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ccc' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    background-color: transparent;
    padding: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.upload-area:hover, 
.upload-area:focus
{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%232e44ff' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    cursor: pointer;
}  
.upload-area-icon 
{
    display: block;
    width: 2.25rem;
    height: 2.25rem;
}
.upload-area-icon svg 
{
    max-height: 100%;
    max-width: 100%;
  }
.upload-area-title 
{
    margin-top: 1rem;
    display: block;
    font-weight: 700;
    color: var(--black1);
  }  
.upload-area-description
 {
    display: block;
    color: var(--c-text-secondary);
}
.upload-area-description strong 
{
    color: var(--blue);
    font-weight: 700;
}
.popup-footer 
{
    padding: 1rem 1.5rem 1.5rem;
    display: flex;
    justify-content: flex-end;
    [class*="btn-"] {
      margin-left: .75rem;
    }
}
.btn-secondary
{
    padding: .5rem 1rem;
    font-weight: 500;
    border: 2px solid var(--grey);
    border-radius: .25rem;
    background-color: transparent;
    cursor: pointer;
}
.btn-primary 
{
    padding: .5rem 1rem;
    font-weight: 500;
    border: 2px solid var(--blue);
    border-radius: .25rem;
    background-color: transparent;
    color: #FFF;
    background-color: var(--blue);
}
.cardHeader 
{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 20%;
    margin-top: 20px;
    
}
.cardHeader h2
{
    font-weight: 600;
    color: var(--black);
}
a{
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    text-decoration: none;
}
.btn
{
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    background: var(--grey);
    text-decoration: none;
    color: var(--black1);
    border-radius: 6px;
}
/*now, make it responsive design */
@media (max-width: 991px)
{   .graphBox
    {
        grid-template-columns: 1fr;
        height: auto;
    }
    .navigation
    {
        left: -300px;
    }
    .navigation.active
    {
        width: 300px;
        left: 0; 
    }
    .main
    {
        width: 100%;
        left: 0;
    }
    .main.active
    {
        left: 300px;
    }
    .cardBox
    {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 768px)
{
    .details
    {
        grid-template-columns: repeat(1,1fr);
    }
    .recentOrders
    {
        overflow-x: auto;
    }
    .status.inprogress
    {
        white-space: nowrap;
    }
}


@media (max-width: 480px)
{
    .cardBox
     {
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2
    {
        font-size: 20px;
    }
    .user
    {
        min-width: 40px;
    }
    .navigation
    {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;
    }
}
